
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  #root {
    padding: 0;
  }
  
  #root .content-padding {
    padding: 2rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 200ms ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 1em rgba(232, 124, 232, 0.4));
}

.card {
  padding: 2em;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
